.hero {
  @include flex();
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #F8F8F8;
}

.hero__heading {
  @include typography(4);
  @include mono-font-n400();
}

.hero__paragraph {
  @include typography(3);
  @include mono-font-n400();
}