.segment {
  @include mono-font-n400();
  color: #A3A9AA;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 2rem;
  -webkit-box-shadow: 0px 8px 128px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 8px 128px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 8px 128px 0px rgba(0,0,0,0.2);
}

.segment__function {
  color: #820933;
}

.segment__string {
  color: #5EB1BF;
}

.segment__keyword {
  color: #56626D;
}

.segment__variable {
  color: #101010;
}