@import url('https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono');

@mixin font-n400() {
  font-family: 'Share Tech', sans-serif;
  font-weight: 400;
}

@mixin mono-font-n400() {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
}