---
title: Arvo
---

<section class="hero">

  <div class="container flex">
    <div class="row">
      <div class="col-xs-12 flex vertical justify-center">
        <h1 class="hero__heading">Arvo.</h1>
        <p class="hero__paragraph">A safe, purely concurrent, programming language.</p>
        <pre class="segment">
<span class="segment__keyword">import</span> io;

<span class="segment__keyword">fn</span> <span class="segment__function">main</span> () -> {
  <span class="segment__keyword">for</span> <span class="segment__variable">i</span> <span class="segment__keyword">in</span> <span class="segment__variable">1</span> .. <span class="segment__variable">1000</span> {
    io.<span class="segment__function">println</span>(<span class="segment__string">"hello, "</span>, <span class="segment__variable">x</span>, <span class="segment__string">"!"</span>);
  }
}
        </pre>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="section__links">
          <li class="section__link"><a href="#features">Features.</a></li>
          <li class="section__link"><a href="#features">Get Started.</a></li>
          <li class="section__link"><a href="#features">Tutorial.</a></li>
          <li class="section__link"><a href="#features">Docs.</a></li>
          <li class="section__link"><a href="#features">Specification.</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>